.content {
  display: flex;
  justify-content: space-around;
  height: 70vh;
  text-align: center;
}

.heroImg {
  image-rendering: crisp-edges;
  position: absolute;
  top: 15%;
  right: 50%;
}

.headerHome {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.header {
  display: flex;
}

.form {
  margin-left: 60%;
  margin-top: 15%;
  margin-right: 10%;
  width: auto;
}
.MuiOutlinedInput-input:hover {
  cursor: pointer;
}
.MuiOutlinedInput-input:focus {
  cursor: auto;
}
