.content {
  min-width: 6vh;
  padding: 10px;
  text-align: center;
  width: 25%;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 0px;
  gap: 12px;
  width: 205.12px;
  height: 71px;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  position: absolute;
  top: 20%;
  left: 40%;
  right: 40%;
}
.form {
  position: absolute;
  top: 40%;
  left: 40%;
  right: 40%;
}
.MuiOutlinedInput-input:hover {
  cursor: pointer;
}
.MuiOutlinedInput-input:focus {
  cursor: auto;
}
